<mat-card style="text-align: center;background-color: rgba(240, 236, 27, 0.781);">
    Menu Del Dia</mat-card>

<mat-grid-list cols="4" rowHeight="50px">
    <mat-grid-tile style="background-color: lightblue; ">Entradas</mat-grid-tile>
    <mat-grid-tile style="background-color: lightgreen; ">Segundos</mat-grid-tile>
    <mat-grid-tile style="background-color: lightpink; ">Bebidas</mat-grid-tile>
    <mat-grid-tile style="background-color: #DDBDF1; ">Postres</mat-grid-tile>
</mat-grid-list>

<app-grid-list-menu-del-dia></app-grid-list-menu-del-dia>